[Unit]
Description=My DevOps Notes HTTP Server
After=network.target

[Service]
Type=simple
User=user
WorkingDirectory=/home/user/devops-notes/linux
ExecStart=/home/user/devops-notes/linux/run-server.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
